version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: agentic_postgres
    environment:
      POSTGRES_USER: agentic
      POSTGRES_PASSWORD: sDnceub169
      POSTGRES_DB: agentic
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
